@page "/credits"

<h3>Credits</h3>

<h4>Chart.js</h4>

<p>
    <a href="https://www.chartjs.org/" target="_blank">Chart.js</a> is a free, open-source JavaScript library for data visualization,
    which supports eight chart types: bar, line, area, pie (doughnut), bubble, radar, polar, and scatter.
    Created by London-based web developer <a href="https://twitter.com/_nnnick" target="_blank">Nick Downie</a> in 2013, now it is maintained by the community andis the second most popular
    JavaScript charting library on GitHub by the number of stars after D3.js, considered significantly easier to use though less
    customizable than the latter. 
</p>
<p>
    Chart.js renders in HTML5 canvas and is widely covered as one of the best data visualization libraries.
    It is available under the MIT license.
</p>

<h4>Blazor component</h4>

<p>
    I, <a href="https://github.com/erossini" target="_blank">Enrico Rossini</a>, started to create the component for Blazor that is a faced of Chart.js.
    Follow my blog <a href="https://www.puresourcecode.com/" target="">PureSourceCode.com</a>.
</p>
<p>
    A special thanks to <a href="https://github.com/macias" target="_blank">Macias</a> that added new features to the components.
</p>