@page "/scatterSimple"

<h3>Scatter Simple</h3>

<Chart Config="_config1" @ref="_chart1" Height="400px" Style="margin-bottom: 75px;"></Chart>

<hr />

<h3>Code</h3>

<p>
    This is the component to add in your page.
</p>

<CodeSnippet Language="Language.xml" Style="Style.VisualStudio">
&ltChart Config="_config1" &#64;ref="_chart1">&lt;Chart>
</CodeSnippet>

<p>
    Then, in the code section, add the following code:
</p>

<CodeSnippet Language="Language.csharp" Style="Style.VisualStudio" LoadMainScript="false">
private ScatterChartConfig _config1;
private Chart _chart1;

protected override async Task OnInitializedAsync()
{
    _config1 = new ScatterChartConfig()
    {
    };

    _config1.Data.Datasets.Add(new ScatterDataset()
        {
            BackgroundColor = "rgb(255, 99, 132)",
            Label = ScatterDataExamples.ScatterSimpleText,
            Data = ScatterDataExamples.ScatterDatasets
        });
}
</CodeSnippet>

@code {
    private ScatterChartConfig _config1;
    private Chart _chart1;

    protected override async Task OnInitializedAsync()
    {
        _config1 = new ScatterChartConfig()
        {
            Options = new Options()
            {
                 Responsive = true,
                 MaintainAspectRatio = false
            }
        };

        _config1.Data.Datasets.Add(new ScatterDataset()
            {
                BackgroundColor = "rgb(255, 99, 132)",
                Label = ScatterDataExamples.ScatterSimpleText,
                Data = ScatterDataExamples.ScatterDatasets
            });
    }
}