<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Chartjs</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="areaSimple">
                <span class="oi oi-plus" aria-hidden="true"></span> Area Simple
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="barSimple">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Bar Simple
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lineSimple">
                <span class="oi oi-graph" aria-hidden="true"></span> Line Simple
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pieSimple">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Pie Simple
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pieMulti">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Pie Multi Series
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doughnutSimple">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Doughnut Simple
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bubbleSimple">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Bubble Simple
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="polarSimple">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Polar Simple
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="radarSimple">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Radar Simple
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scatterSimple">
                <span class="oi oi-graph" aria-hidden="true"></span> Scatter Simple
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scattermultiaxes">
                <span class="oi oi-graph" aria-hidden="true"></span> Scatter multi axes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="linebar">
                <span class="oi oi-graph" aria-hidden="true"></span> Combo Line/Bar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crosshair">
                <span class="oi oi-graph" aria-hidden="true"></span> Crossair
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zoom">
                <span class="oi oi-brush" aria-hidden="true"></span> Zoom
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="animation">
                <span class="oi oi-brush" aria-hidden="true"></span> Animation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grouped">
                <span class="oi oi-brush" aria-hidden="true"></span> Grouped
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mixed">
                <span class="oi oi-brush" aria-hidden="true"></span> Mixed graphs
            </NavLink>
        </div>
        <hr />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="credits">
                <span class="oi oi-book" aria-hidden="true"></span> Credits
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
