@inject IJSRuntime JSRuntime

<div id="@("chartcontainer" + Config.CanvasId)" class="chart-container @Class" 
     style="position: relative; height:@Height; width:@Width; @(Style)">
    <canvas id="@Config.CanvasId"></canvas>
</div>